<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
<div class="row justify-content-center">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col mb-2">

                </div>
            </div>
        </div>
    </div>
</div>