<html>
  <head>
  </head>
  <body>
    <section class="video-recording-page">
      <div class="title">
        <h1>VIDEO RECORDING</h1>
      </div>
      <div class="video-container-details">
        <div class="video-container">
          <div class="overlay" *ngIf="recordHidden == true"><img src="/assets/record-icon.png" alt="Record Icon"></div>
          <video #video class="video"></video>
        </div>
        <div class="video-details">
          <div>
            <label class="toggleText" for="togglePrivacy" style="color: #ffffff">Toggle Privacy</label>
            <mat-button-toggle-group name="privacyToggle" aria-label="Privacy Toggle">
              <mat-button-toggle value="on">On</mat-button-toggle>
              <mat-button-toggle value="off">Off</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
          <div>
            <label class="textbox-margin" for="videoName" style="color: #ffffff">Enter a Video Title</label>
            <input type="text" id="videoName" [(ngModel)]="videoName" (input)="onVideoNameChange()" class="form-control"/>
          </div>
          <div>
            <label class="textbox-margin" for="addCommentTextArea" style="color: #ffffff">Attach a Comment</label>
          </div>
          <div>
            <input type="text" id="addCommentTextArea" id="commentArea" rows="6" [(ngModel)]="comment" placeholder="Anything to add?"/>
          </div>
          <div>
            <button class="button" (click)="startRecordingButtonClicked()">{{recordAgain?"Record":"Record Again"}}</button>
            <button class="button" id="stop-button" (click)="stopRecording()"> Stop</button>
            <button class="button" [disabled]="playbackDisabled" (click)="playback()">{{playbackDisabled?"No Playback":"Playback"}}</button>
          </div>
          <div>
            <button class="button" [disabled]="submitDisabled" (click)="download()">Download</button>
            <button id="record-button" class="button" [disabled]="submitDisabled" (click)="submitVideo()" (click)="openDialog()">{{submitDisabled?"Submit":"Submit"}}</button>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>