<html>
    <head>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
    </head>
    <body>
        <section class="about-us-page">
            <div class="title">
                <h1>ABOUT US</h1>
            </div>
            <div id="about-us-text">
                <h4>Share Moments.</h4>
                <h4 class="mb-4">Not Privacy.</h4>
                <p>PRVCY was created with your privacy in mind. 
                    Our platform focuses on secure video sharing, which means that video sharing with other users on the platform has the option to be anonymised.
                    PRVCY is built using a robust tech stack, which includes Angular, HTML, CSS, Amazon AWS, SQL, and PHP. </p>
            </div>
            <div class="d-flex justify-content-center mt-4">
                <div class="mx-4 my-4 text-center">
                    <img src="../../assets/ishaan.jpeg" alt="">
                    <p class="my-4">Ishaan Gupta</p>
                    <p>Co-founder</p>
                    <a href= "https://github.com/ishaan2207"><img class="icons mx-2" src="../../assets/github-icon.png" alt=""></a>
                    <a href= "https://www.linkedin.com/in/ishaan-gupta-34505518b/"><img class="icons mx-2" src="../../assets/linkedin-app-icon.png" alt=""></a>
                </div>
                <div class="mx-4 my-4 text-center">
                    <img src="../../assets/mackenzie.png" alt="">
                    <p class="my-4">Mackenzie Atkins</p>
                    <p>Co-founder</p>
                    <a href= "https://github.com/maxa2"><img class="icons mx-2" src="../../assets/github-icon.png" alt=""></a>
                    <a href= "https://www.linkedin.com/in/mackenzie-atkins-272669244/"><img class="icons mx-2" src="../../assets/linkedin-app-icon.png" alt=""></a>
                </div>
                <div class="mx-4 my-4 text-center">
                    <img src="../../assets/nik.jpeg" alt="">
                    <p class="my-4">Nik Chikhlia</p>
                    <p>Co-founder</p>
                    <a href= "https://github.com/nikhilchikhlia"><img class="icons mx-2" src="../../assets/github-icon.png" alt=""></a>
                </div>
                <div class="mx-4 my-4 text-center">
                    <img src="../../assets/sam.jpeg" alt="">
                    <p class="my-4">Sam Garg</p>
                    <p>Co-founder</p>
                    <a href= "https://github.com/sam131102"><img class="icons mx-2" src="../../assets/github-icon.png" alt=""></a>
                </div>
                <div class="mx-4 my-4 text-center">
                    <img src="../../assets/segundo.jpeg" alt="">
                    <p class="my-4">Segundo Parra Jurado</p>
                    <p>Co-founder</p>
                    <a href= "https://github.com/smparra"><img class="icons mx-2" src="../../assets/github-icon.png" alt=""></a>
                    <a href= "https://www.linkedin.com/in/segundo-parra/"><img class="icons mx-2" src="../../assets/linkedin-app-icon.png" alt=""></a>
                </div>
            </div>
            
        </section>
    </body>
</html>